body { font-family: 'Poppins', sans-serif; background: linear-gradient(to right, #4facfe, #00f2fe);
     display: flex; justify-content: center; align-items: center;
      height: 100vh; margin: 0; } 
.container { 
        background: #ffffffcc; padding: 30px; border-radius: 20px;
        width: 350px; text-align: center; box-shadow: 0 10px 20px rgba(0,0,0,0.2); } 
 h2 { 
    margin-bottom: 20px; color: #333; }
 input { 
    padding: 12px; width: 75%; border-radius: 10px;
     border: 1px solid #ddd; margin-bottom: 10px; font-size: 16px; } 
button { 
    padding: 12px 18px; border: none; border-radius: 10px;
    background: #4facfe; color: white; font-size: 16px; 
   cursor: pointer; transition: 0.3s; } button:hover { background: #00c6ff; } 
 .weather-box { 
    margin-top: 20px; padding:
     15px; border-radius: 15px;
     background: #f5faff; box-shadow: inset 0 2px 8px rgba(0,0,0,0.1); } 
 .weather-box h3 { margin: 5px 0; } .icon { width: 80px; }